应用实践/Manim/media
应用实践/Manim/_pycache_
应用实践/Manim/__pycache__
编程应用练习/WallPaperTools/task.log
2024_暑假练习/编程应用练习/01_备份壁纸工具/task.log
2024_暑假练习/编程应用练习/02_拆分动态照片/_Output_/
2024_暑假练习/编程应用练习/03_拆分试卷_PDF/test_A4.pdf
